<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="public/trenode.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://kraaden.github.io/autocomplete/autocomplete.js"></script>
	<link rel="shortcut icon" href="public/favicon.png" type="image/x-icon">
	<link rel="icon" href="public/favicon.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="public/apple-touch-icon.png">
	<title>Trenode.js</title>
</head>

<body>
	<div class="navbar text-center primary-bg">
		<h1> <a href="/">Trenode.js</a> </h1> 
		<p class="subtitle">Sicuramente meglio di Trenitalia!</p>
	</div>
	<div class="container" style="padding-left: 30px;padding-bottom: 50px;">
		<div class="col-sm-12">
		<% if (typeof soluzioni !== 'undefined' && soluzioni.length > 0) { var i=0; 
				%>
		<form action="/trenoAjax" method="POST">
			<h2 class="text-center"> Soluzioni trovate: </h2>
			<% soluzioni.forEach(soluzione => {  if (i > 10) { return; } %>

			<div class="radio">
				<label>
				<input type="radio" name="nsol" value="<%= i %>" required>
				
					<% soluzione.vehicles.forEach(treno => { %>
					<%= treno.origine %>
					<%= treno.orarioPartenza.slice(treno.orarioPartenza.lastIndexOf('T') + 1,treno.orarioPartenza.length - 3); %>
					<span class="fa fa-arrow-right"></span> <%= treno.destinazione; %>
					<%= treno.orarioArrivo.slice(treno.orarioPartenza.lastIndexOf('T') + 1,treno.orarioArrivo.length - 3); %>
					<br>
					<% }); %>
				</label>
			</div>

			<% i++;}); %>
			<!-- <input type="text" hidden readonly value="<%=errore%>" name="id" /> -->
			<button type="submit" class="btn btn-lg btn-primary" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Caricamento">Conferma</button>
		</form>
		<% }else{ %>
			<p class="text-center h4"><%="Nessuna soluzione trovata, ci scusiamo per l'inconveniente."%></p>	
		<%} %>
		</div>
		<div class="col-sm-6"><br><a href="/"><span class="fa fa-arrow-left"></span> Torna alla ricerca</a></div>
	</div>
	<footer class='footer'>
        Open source project available on <b><a href="https://github.com/fratorgano/Trenode.js" target="_blank">GitHub</a></b> <br>
		Made by <b><a href="https://fratorgano.me" target="_blank">Francesco Torgano</a></b> © 2020
	</footer>
	<script>
		$('.btn').on('click', function() {
			var $this = $(this);
		$this.button('loading');
			setTimeout(function() {
			$this.button('reset');
		}, 1000);
		});
	</script>
</body>
</html>