<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="public/trenode.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://kraaden.github.io/autocomplete/autocomplete.js"></script>
	<link rel="shortcut icon" href="public/favicon.png" type="image/x-icon">
	<link rel="icon" href="public/favicon.png" type="image/x-icon">
	<link rel="apple-touch-icon" href="public/apple-touch-icon.png">
	<title>Trenode.js</title>
</head>

<body>
	<div class="navbar text-center primary-bg">
		<h1> <a href="/">Trenode.js</a> </h1> 
		<p class="subtitle">Sicuramente meglio di Trenitalia!</p>
	</div>

	<div class="container">
	<% treni.forEach(treno =>{%>
		<h3><b><%= treno.salita %> <span class="fa fa-arrow-right"></span> <%= treno.discesa %></b> (<%= treno.compNumeroTreno %>)</h3>
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>Stazione</th>
					<th>Ora</th>
					<th>Ritardo</th>
					<th>Binario</th>
				</tr>

				<% treno.fermate.forEach(fermata =>{%>
				<tr>
					<td>
						<%= fermata.stazione.toLowerCase().replace(/^\w/, c => c.toUpperCase()); %>
					</td>
					<% if (fermata.partenza_teorica==null){ %>
					<td>
						<% if (fermata.programmata!=null){ %>
							<% var d=new Date(fermata.programmata)  %>
							<%= d.getHours() %>:<% if (d.getMinutes()<10){%><%="0"+d.getMinutes()%><%}else{%><%=d.getMinutes()%><%}%>
						<% }else{ %> <%= "- : -" %> <%}%>
					</td>
					<% }else{ %>
					<td>
						<% var d=new Date(fermata.partenza_teorica)  %> <%= d.getHours() %>:<% if (d.getMinutes()<10){%><%="0"+d.getMinutes()%><%}else{%><%=d.getMinutes()%><%}%>   
					</td>
						<% } %>
					<td>
						<%if(fermata.ritardo==null || fermata.ritardo=="0"){ %> 
							<%="-"%>
						<%}else if(fermata.ritardo>"0"){ %> 
							<%= ("+"+fermata.ritardo) %>
						<%}else{%> <%= (fermata.ritardo) %> <%}%> 
					</td>
					<td>
						<%=fermata.binarioProgrammatoPartenzaDescrizione%>
					</td>
				</tr>
				<% }) %>
			</table>

		</div>
		<div class="col-sm-6"></div>
		<% if (treno.stazioneUltimoRilevamento != null){ %>
			<div class="col-sm-6">
				<h6 style="text-align: right;">Ultimo rilevamento:
					<%=treno.stazioneUltimoRilevamento.toLowerCase().replace(/^\w/, c => c.toUpperCase());%><% var r=new Date(treno.oraUltimoRilevamento)  %> <%= r.getHours() %>:<% if (r.getMinutes()<10){%><%="0"+r.getMinutes()%><%}else{%><%=r.getMinutes()%><%}%>
				</h6>
			</div>
		<% } %>
	<% }) %>
			<!-- <div class="col-sm-6"><a href="/"><span class="fa fa-arrow-left"></span> Torna alla ricerca</a></div> -->
		<br>
		<div class="col-sm-6"><a href="/"><span class="fa fa-arrow-left"></span> Torna alla ricerca</a></div>
		<div class="container"></div>
	</div>		
</body>

</html>